* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f8f5;
    color: #2a3d31;
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.F7Z73aFGcZAgEMr9QGBK-gHaEK&pid=Api&P=0&h=180');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 99vw;
    height: auto;
}

header {
    width: 99vw;
    height: 5em;
}

.top {
    width: 99vw;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2a3d31;
}

.top img {
    width: 5em;
    height: 5em;
    margin: 0 2em;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 99vw;
    height: 2em;
    border-bottom: 2px solid #2a3d31;
}

nav a {
    text-decoration: none;
    color: #2a3d31;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 1.62px;
    background-color: #2a3d31;
    transition: width 0.5s;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #2a3d31;
}

.heading {
    width: 99vw;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
}

.heading p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 60vw;
}

.disclimer {
    width: 99vw;
    height: 11em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.disclimer h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 3em;
}

.disclimer p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    width: 85vw;
    margin-top: 1em;
}

.terms {
    width: 99vw;
    height: 11em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.terms h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 3em;
}

.terms ul {
    margin-top: 1em;
}

.terms li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    width: 85vw;
    margin: auto;
}

.terms a {
    text-decoration: none;
    color: #2a3d31;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.terms a::after {
    content: '';
    display: block;
    width: 0;
    height: 1.7px;
    background-color: #2a3d31;
    transition: width 0.5s;
}

.terms a:hover::after {
    width: 8em;
}

.terms a:hover {
    color: rgb(0, 151, 0);
}

.privacy {
    width: 99vw;
    height: 10em;
    margin-top: 2em;
}

.privacy h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 3em;
    margin-bottom: 0.5em;
}

.privacy p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    width: 87vw;
    margin: auto;
}

.govn {
    width: 99vw;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.govn h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 3em;
}

.approval-grid {
    width: 99vw;
    height: 18em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-item {
    width: calc(100% / 2.2);
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-image {
    width: 10em;
    height: 10em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.grid-image img:hover {
    transform: scale(1.2);
}

.grid-text {
    width: 100%;
    height: 5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-text h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

.grid-item p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: auto;
}

.contact {
    width: 99vw;
    height: 11em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
}

.contact h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 3em;
    margin-bottom: 1em;
}

.contact p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    width: 87vw;
    margin: 0 auto;
}

.contact a {
    text-decoration: none;
    color: #2a3d31;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact a::after {
    content: '';
    display: block;
    width: 0;
    height: 1.62px;
    background-color: #2a3d31;
    transition: width 0.5s;
    margin-left: 6.5em;
}

.contact a:hover::after {
    width: 4.5em;
}

.contact a:hover {
    color: rgb(0, 151, 0);
}

footer {
    width: 99vw;
    height: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #2a3d31;
    color: #f0f8f5;
    margin-top: 5em;
}

.address {
    width: 40vw;
    height: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.address h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.address p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
}

.social {
    width: 50vw;
    height: 7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.social .text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 30vw;
}

#w {
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    transition: transform 0.3s;
}

#yt {
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    transition: transform 0.3s;
}

#x {
    width: 2.3em;
    height: 2.3em;
    margin: 0.5em;
    transition: transform 0.3s;
}

#i {
    width: 2em;
    height: 2em;
    margin: 0.5em;
    transition: transform 0.3s;
}

#w:hover, #yt:hover, #x:hover, #i:hover {
    transform: scale(1.4);
    filter: drop-shadow(0 0 5px #2a3d31);
}

.cr {
    width: 99vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a3d31;
    color: #f0f8f5;
}

.cr p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}