* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f8f5;
    color: #2a3d31;
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.F7Z73aFGcZAgEMr9QGBK-gHaEK&pid=Api&P=0&h=180');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100vw;
    height: auto;
}

header {
    width: 100vw;
    height: 5em;
}

.top {
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2a3d31;
}

.top img {
    width: 5em;
    height: 5em;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 2em;
    border-bottom: 2px solid #2a3d31;
}

nav a {
    text-decoration: none;
    color: #2a3d31;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 1.62px;
    background-color: #2a3d31;
    transition: width 0.5s;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #2a3d31;
}

.intro {
    width: 100vw;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
}

.intro p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.map {
    width: 100vw;
    height: 15em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.map-text {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.map-container {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 10px #2a3d31);
    border-radius: 10px;
}

.google-map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px #2a3d31);
    overflow: hidden;
}

.map-text h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

.map-text p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.plot-details {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}

.plot-details h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.plot-details table {
    width: 100%;
    height: 20em;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #2a3d31;
}

.plot-details table th {
    background-color: #2a3d31;
    color: #f0f8f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    border: 2px solid black;
}

.plot-details table td {
    color: #2a3d31;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #2a3d31;
}

.image-carousel {
  width: 100vw;
  height: 25em;
  margin-top: 3em;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.carousel-container h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 1em;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
  overflow: hidden;
}

.carousel img {
  width: 25%;
  height: 15em;
  object-fit: cover;
  margin: 0 0.5em;
  border-radius: 10px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2em;
  padding: 0.5em 0.8em;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.prev { left: 1em; }
.next { right: 1em; }

.dots {
  margin-top: 1em;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

.dm {
    width: 100vw;
    height: 15em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.dma {
    width: 100vw;
    height: 15em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dm h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.dm a {
    width: 50%;
    color: #2a3d31;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.call, .mail {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.call img {
    width: 7.5em;
    height: 7.5em;
    transition: all 1s ease;
}

.call p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.call::after, .mail::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #2a3d31;
    transition: width 1s;
}

.call:hover::after, .mail:hover::after {
    width: 100%;
}

.call:hover, .mail:hover {
    color: #2a3d31;
}

.call:hover img, .mail:hover img {
    transform: scale(1.3);
}

.mail img {
    width: 7.5em;
    height: 7.5em;
    transition: all 1s ease;
}

.mail p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

footer {
    width: 100vw;
    height: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #2a3d31;
    color: #f0f8f5;
    margin-top: 5em;
}

.address {
    width: 40vw;
    height: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.address h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.address p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
}

.social {
    width: 50vw;
    height: 7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.social .text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 30vw;
}

#w {
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    transition: transform 0.3s;
}

#yt {
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    transition: transform 0.3s;
}

#x {
    width: 2.3em;
    height: 2.3em;
    margin: 0.5em;
    transition: transform 0.3s;
}

#i {
    width: 2em;
    height: 2em;
    margin: 0.5em;
    transition: transform 0.3s;
}

#w:hover, #yt:hover, #x:hover, #i:hover {
    transform: scale(1.4);
    filter: drop-shadow(0 0 5px #2a3d31);
}

.cr {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a3d31;
    color: #f0f8f5;
}

.cr p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}